<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tje.yakssok">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".board.Board_MainActivity" />
        <activity android:name=".board.Board_SelectedActivity" />
        <activity android:name=".board.Board_ViewActivity" />
        <activity android:name=".board.Board_WriteActivity" />
        <activity android:name=".member.JoinActivity" />
        <activity android:name=".member.DaumWebViewActivity" />
        <activity android:name=".member.Modify_Pw_Activity" />
        <activity android:name=".member.ProfileModifyActivity" />
        <activity android:name=".pill.Pill_ListActivity" />
        <activity android:name=".pill.Pill_ViewActivity" />
        <activity android:name=".drugstore.Drugstore_NearbyActivity" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".medList.MedList_Main_Activity" />
        <activity android:name=".medList.Cold_Activity" />
        <activity android:name=".medList.Antipyretic_Activity" />
        <activity android:name=".medList.Digestive_Activity" />
        <activity android:name=".medList.Pain_Activity" />
        <activity android:name=".medList.Cpr_Activity" />
        <activity android:name=".medList.Heimlich_Activity" />
        <activity android:name=".medList.Love_Activity" />
    </application>

</manifest>